body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    background-color: #ffdc78;
}

#snake {
    display: block;
    visibility: visible;

}

#gameOver {
    position: absolute;
    visibility: hidden;
}

#gameStart {
    position: absolute;
    visibility: hidden;
}

h1, h3 {

    font-family: 'Permanent Marker', cursive;
    color:white;
    text-align:center;  
     
}

.title {
    font-size: 62px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#restartButton {
    border: 2px solid white;
    border-radius: 20px;
}

#restartButton:hover {
    background-color: #ffa682;
}

.titleStart {
    font-size: 62px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#startButton {
    border: 2px solid white;
    border-radius: 20px;
}

#startButton:hover {
    background-color: #ffa682;
}
